<h1>Log In Below:</h1>

<form method="post" action="/sessions/login">
  <p>
    <label for="email">Email:</label>
    <input id="email" name="email" type="email">
  </p>
  <p>
    <label for="password">Passowrd:</label>
    <input id="password" name="password" type="password" >
  </p>
    <p>
    <button type="submit" id="login">Log In</button>
  </p>
</form>